//Get visible;
.anim-opacity-startState {
  opacity: 0;
  @include transition-mediumTime;
}

.anim-opacity-endState {
  opacity: 1;
}

.anim-opacity-delayed-startState {
  opacity: 0;
  @include transition-muchTime();
}

.anim-opacity-delayed-endState {
  opacity: 1;
}

//Slide a bit down;
.anim-slideDown-startState {
  @include transition-mediumTime;
  transform: translateY(-2rem);
}

.anim-slideDown-endState {
  transform: translateY(2rem);
}

//Slide a bit left;
.anim-slideLeft-startState {
  @include transition-mediumTime;
}

.anim-slideLeft-endState {
  transform: translateX(-2rem);
}

//Slide a bit right;
.anim-slideRight-startState {
  @include transition-mediumTime;
}

.anim-slideRight-endState {
  transform: translateX(2rem);
}

//Mobile navigation slide-in;
.anim-slideToScreen-startState {
  @include transition-littleTime;
  transform: translateY(-500px);
}

.anim-slideToScreen-endState {
  transform: translateY(0px);
}

//Burger menu on-toggler
.burger-animate-startState {
  @include transition-littleTime();
  background-color: $textColorLight;

  &::before {
    @include transition-littleTime();
    background-color: $textColorLight
  }

  &::after {
    @include transition-littleTime();
    background-color: $textColorLight
  }
}

.burger-animate-endState {
  &::before {
    background: $dominantColor;
    transform: translateX(10px) !important;
  }

  &::after {
    background: $dominantColor;
    transform: translateX(10px) !important;
  }
}