//Get visible;
.anim-opacity-startState {
  opacity: 0;
  @include transition-mediumTime;
}

.anim-opacity-endState {
  opacity: 1;
}

.anim-opacity-delayed-startState {
  opacity: 0;
  @include transition-muchTime();
}

.anim-opacity-delayed-endState {
  opacity: 1;
}




//Slide a bit down;
.anim-slideDown-startState {
  @include transition-mediumTime;
  transform: translateY(-2rem);
}

.anim-slideDown-endState {
  transform: translateY(2rem);
}

//Slide a bit left;
.anim-slideLeft-startState {
  @include transition-mediumTime;
}

.anim-slideLeft-endState {
  transform: translateX(-2rem);
}

//Slide a bit right;
.anim-slideRight-startState {
  @include transition-mediumTime;
}

.anim-slideRight-endState {
  transform: translateX(2rem);
}