/*Container width */
$website-width: 70vw;

/*Fonts*/
$UIfont: "Montserrat",
sans-serif;
$decorativeFont: "Sacramento",
cursive;

/*Text colors*/
$textColorLight: #dedede;
$textColorDark:#030303ff;

/*UI Colors*/
$backgroundLightColor: rgb(2, 2, 2);
$backgroundDarkColor: #000;
$backgroundTransparent: rgba(0, 0, 0, 0.95);
$backgroundComplementaryColor: #2e2c2cf3;
$dominantColor: #900000;
$dominantColorShadow: #3d0000;


/*Images*/
$welcome-bg-image: url('../img/backgrounds/frontpage-background-landscape-v1.png');
$performance1-image: url('../img/performances/performance1.jpg');
$performance2-image: url('../img/performances/performance2.jpg');
$performance3-image: url('../img/performances/performance3.jpg');


//Transitions and animations
@mixin transition-littleTime {
  transition: all 0.5s ease-in-out;
}

@mixin transition-mediumTime {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

@mixin transition-muchTime {
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}

//Width
@mixin width-max-400 {
  @media screen and (max-width: 400px) {
    @content;
  }
}


@mixin width-max-768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin width-min-768 {
  @media screen and (min-width: 769px) {
    @content;
  }
}


@mixin width-max-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1920) {
    @content;
  }
}

//Height
@mixin height-max-768 {
  @media screen and (max-height: 768px) {
    @content;
  }
}

@mixin height-min-1080 {
  @media screen and (min-height: 1080px) {
    @content;
  }
}