/* Variables */
$website-width: 70vw;

$textColorLight: #dedede;
$textColorDark:#030303ff;

$backgroundLightColor: rgb(2, 2, 2);
$backgroundDarkColor: #000;

$dominantColor: #900000;
$dominantColorShadow: #3d0000;

$placeholderColor: #2e2c2cf3;

$UIfont: "Montserrat",
sans-serif;
$decorativeFont: "Sacramento",
cursive;

$bg-image: url('../img/frontpage-background-landscape-v1.png');




/* Color Theme Swatches in RGBA */
/*
.color-theme_fish-1-rgba { color: rgba(217, 4, 4, 1); }
.color-theme_fish-2-rgba { color: rgba(166, 3, 3, 1); }
.color-theme_fish-3-rgba { color: rgba(115, 2, 2, 1); }
.color-theme_fish-4-rgba { color: rgba(64, 1, 1, 1); }
.color-theme_fish-5-rgba { color: rgba(13, 13, 13, 1); }
*/