/* Color Theme Swatches in Hex */
$brightColor: #D90404;
$dominantColor: #A60303;
$complementaryLightColor: #730202;
$complementaryDarkColor: #400101;
$backgroundColor: #0D0D0D;

/* Color Theme Swatches in RGBA */
/*
.color-theme_fish-1-rgba { color: rgba(217, 4, 4, 1); }
.color-theme_fish-2-rgba { color: rgba(166, 3, 3, 1); }
.color-theme_fish-3-rgba { color: rgba(115, 2, 2, 1); }
.color-theme_fish-4-rgba { color: rgba(64, 1, 1, 1); }
.color-theme_fish-5-rgba { color: rgba(13, 13, 13, 1); }
*/