#video-overlay {
  @extend %overlay;
  display: flex;
  flex-direction: column;
}

#video-container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border-top: 1rem solid $dominantColor;
  border-right: 2rem solid $dominantColor;
  border-bottom: 2.5rem solid $dominantColorShadow;
  border-left: 2rem solid $dominantColor;
}

#video-container iframe {
  width: 100%;
  height: 100%;
}