@import 'config';
@import 'utilities';


/*General styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  line-height: 1.6;
  background: $backgroundDarkColor;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $textColor;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navigation
#main-nav {
  display: flex;

  ul {
    display: flex;
    margin-left: 40%;

    li {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 1rem 1.5rem;
    }
  }
}





//Werlcome
#section-welcome {
  background: $bg-image no-repeat center right / cover;

  #background {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.624);


    #welcome-titles {
      position: relative;
      margin-top: 30%;
      padding-left: 10%;

      #welcome-title {
        font-family: inherit;
        font-size: 5rem;
        font-weight: 800;
        color: $textColor;
      }

      #welcome-subtitle {
        font-size: 3rem;
        font-family: 'Sacramento', cursive;
        font-weight: 800;
        color: $dominantColor;
      }
    }

  }
}


// Import Media Queries
@import 'media';