@import "resets";
@import "config";
@import "utilities";
@import "animations";
@import "gallery";
@import "video";
@import "media";

/*General styles*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  line-height: 1.6;
  color: $textColorLight;
  background: $backgroundDarkColor;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $textColorLight;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding-bottom: 0.5rem;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: $backgroundComplementaryColor;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dominantColor;
}


// Navigation
#main-nav {
  top: 0;
  position: sticky;
  display: flex;
  z-index: 4;
  min-height: 3rem;
  background: $backgroundDarkColor;
}

#main-nav ul {
  display: flex;
  margin: 0 auto;

  li {
    font-family: $UIfont;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
  }

  a {
    &:hover {
      color: $dominantColor;
    }

    &.current {
      color: $dominantColor;
    }
  }

  .social-media-link {
    padding-top: 0.75rem;
  }

}

//Welcome
#section-welcome {
  background: $welcome-bg-image no-repeat center center / cover;
}

#welcome-background {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

#welcome-titles {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 3;

  #welcome-title {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  #welcome-subtitle {
    font-size: 2.5rem;
    font-family: $decorativeFont;
    font-weight: 800;
    color: $dominantColor;
  }
}

//Christina
#section-christina {
  @extend %section-shared;

  .content-canvas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    grid-gap: 7rem;
    justify-items: center;
    justify-content: space-between;
  }
}

#christina-image {
  width: 80%;
  justify-self: self-end;

  img {
    margin: auto 0;
    width: 100%;
  }
}

#christina-text {
  display: flex;
  flex-direction: column;
  justify-self: self-start;
  justify-content: center;
  width: 80%;

}

//Performances
#section-performance {
  @extend %section-shared;

  .content-canvas {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

}

#performance-showcases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  grid-gap: 0rem;
  justify-items: center;
  justify-content: space-between;

  .performance-showcase {
    display: grid;
    width: 90%;
    max-width: 400px;
    height: 500px;
  }

  #performance1 {
    background: $performance1-image center;
    background-size: cover;
    margin-left: -4rem;
  }

  #performance2 {
    background: $performance2-image center;
    background-size: cover;
  }

  #performance3 {
    background: $performance3-image center;
    background-size: cover;
    margin-right: -4rem;
  }

  .performance-showcase-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
    padding-bottom: 30%;
    @include transition-mediumTime;
  }

  .performance-showcase-text {
    width: 100%;
    font-size: 3.5rem;
    font-weight: 800;
    font-family: $decorativeFont;
    opacity: 0;
    @include transition-mediumTime;
  }

  .space-between {
    width: 100%;
    height: 30px;
    @include transition-mediumTime;
  }

  .space-under {
    width: 100%;
    height: 0px;
    @include transition-mediumTime;
  }

  .performance-showcase-button {
    width: 100%;
  }

  .performance-showcase-btn {
    margin: 0 auto;
    height: 3rem;
    width: 50%;
    border: 2px solid #ffffff;
    background: $backgroundTransparent;
    color: $textColorLight;
    text-transform: uppercase;
    opacity: 0;
    @include transition-mediumTime;
  }

}

//Gallery
#section-gallery {
  @extend %section-shared;

  .content-canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
  }
}

#gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  grid-gap: 1.5rem;
  justify-items: center;
  justify-content: space-between;

  .gallery-thumbnail {
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition-littleTime;
      cursor: pointer;
    }

    img:hover {
      transform: translate(-15%, -5%);
      width: 120%;
      height: 120%;
    }
  }
}

//Footer
footer {
  display: flex;
  flex-direction: column;
  background: $backgroundLightColor;
  width: 100%;
  height: 15rem;
  align-items: center;
  justify-items: center;
  text-align: center;

  div {
    margin: auto;

    p {
      font-family: $UIfont;
      font-size: 0.8rem;
      padding: 0rem 1.5rem;

      color: $textColorLight;
      margin: auto;
    }
  }

}