@import "config";
@import "utilities";

/*General styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  line-height: 1.6;
  color: $textColor;
  background: $backgroundDarkColor;
  scroll-behavior: smooth;
  //background: $bg-image fixed center/cover;
  //background: url('../img/backgrounds/dark1.jpg') fixed center/cover;
}

a {
  text-decoration: none;
  color: $textColor;

  &:hover {
    color: $dominantColor;
  }

  &.current {
    color: $dominantColor;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding-bottom: 0.5rem;
}

// Navigation
#main-nav {
  top: 0;
  position: sticky;
  display: flex;
  z-index: 1;
  min-height: 3rem;
  padding-top: 1rem;

  ul {
    display: flex;
    margin-left: 40%;

    li {
      font-family: "Montserrat", sans-serif;
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 1rem 1.5rem;
    }

    .social-media-link {
      padding-top: 0.75rem;
    }
  }
}

//Welcome
#section-welcome {

  background: $bg-image no-repeat center center / cover;

  #background {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: rgba(0, 0, 0, 0.624);

    #welcome-titles {
      position: absolute;
      display: block;
      top: 50%;
      left: 10%;

      #welcome-title {
        font-size: 5rem;
        font-weight: 800;
      }

      #welcome-subtitle {
        font-size: 3rem;
        font-family: "Sacramento", cursive;
        font-weight: 800;
        color: $dominantColor;
      }
    }
  }
}

//Welcome
#section-christina {
  //background: url('../img/backgrounds/dark1.jpg') fixed center/cover;
}

// Import Media Queries
@import "media";